{% extends "layout/game_base.html" %}

{% block css_file %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/identification.css') }}">
{% endblock %}

{% block game_title %} {{ game_mode }} {% endblock %} 

{% block game_header %} {{ game_mode }} {% endblock %} 

{% block game_content %}
    <span class="dot"></span>

    <div id="container">
        <div id="quiz_header">
            <h5>Identification Quiz</h5>
        </div>
        <div id="quiz">
            <div id="progressBar">
                <div id="progress" style="width: 10%;"></div>
            </div>
            <h2 id="questionNo"></h2>
            <div id="question">
                <h2 id="questionText"></h2>
                <img id="questionImage" src="" alt="" style="display: none;"/>
            </div>
            <div id="answerInput">
                <input type="text" id="userAnswer" placeholder="Enter your answer here"/>
            </div>
            <button id="Submit">Submit</button>
            <button id="Cancel">Cancel</button>
            <div id="feedback"></div>
        </div>
    </div>

{% endblock %}

{% block js_file %} 
    <script src="../../static/js/questions.js"></script>
    <script src="../../static/js/identification.js"></script>
{% endblock %}
