{% extends "layout/game-base.html" %}

{% block css_file %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/identification.css') }}">
{% endblock %}

{% block game_title %} Identification {% endblock %}

{% block game_header %} Identification {% endblock %}

{% block game_content %}

<div id="question-container">
    {% if generated_questions %}
        {% for question_data in generated_questions %} 
                <div class="question-card">
                    <p class="question-text">{{ question_data.question }}</p>
                    <label for="user-ans-{{ loop.index }}">Answer:</label>
                    <input type="text" id="user-ans-{{ loop.index }}" class="user-answer" placeholder="Enter your answer here" />
                    <span class="correct-answer" style="display: none;">{{ question_data.answer }}</span>
                </div>
        {% endfor %}
    {% else %}
        <p id="no-questions-message">No questions generated.</p>
    {% endif %}

    <!-- buttons are in game-base.html since it will be used by all quiz types -->
</div>
{% endblock %}

{% block js_file %}
<script src="{{ url_for('static', filename='js/identification.js') }}"></script>
{% endblock %}
