{% extends "layout/game-base.html" %}

{% block css_file %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/multiple-choice.css') }}">
{% endblock %}

{% block game_title %} View Progress {{ game_mode }} {% endblock %}

{% block game_header %} {{ game_mode }} {% endblock %}

{% block game_content %}
    <div id="question-container">
        <h1 id="question-title">Multiple Choice</h1>

        {% if generated_questions %}
            {% for question_data in generated_questions %}
                <div class="question-card" style="display: none;">
                    <p class="question-text">{{ question_data.text }}</p>
                    <p>Answer:</p>
                    <div class="answer-options">
                        {% for option in question_data.options %}
                            <label>
                                <input type="radio" name="question_{{ loop.index }}" value="{{ option }}" class="user-answer"> {{ option }}
                            </label><br>
                        {% endfor %}
                    </div>
                    <span class="correct-answer" style="display: none;">{{ question_data.answer }}</span>
                </div>
            {% endfor %}
        {% else %}
            <p id="no-questions-message">No questions generated.</p>
        {% endif %}
        <button id="next-button" style="display: none;">Next Question</button>
        <button id="submit-button">Submit</button>
        <button id="cancel-button">Cancel</button>        
{% endblock %}

{% block js_file %}
<script src="{{ url_for('static', filename='js/multiple-choice.js') }}"></script>
{% endblock %}
