{% extends "/layout/game-base.html" %}

{% block css_file %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/multiple-choice.css') }}">
{% endblock %}

{% block game_title %} {{ game_mode }} {% endblock %} 

{% block game_header %} {{ game_mode }} {% endblock %} 

{% block game_content %}      

    <div id="question">
        <p id="questionText"></p>
    </div>
    <div id="optionList">
        <h4 id="questionText1"></h4>
        <div class="answerItem">
            <p id="answerNo1">a</p>
            <p class="choice_que" id="option1"></p>
        </div>
        <div class="answerItem">
            <p id="answerNo2">b</p>
            <p class="choice_que" id="option2"></p>
        </div>
        <div class="answerItem">
            <p id="answerNo3">c</p>
            <p class="choice_que" id="option3"></p>
        </div>
        <div class="answerItem">
            <p id="answerNo4">d</p>
            <p class="choice_que" id="option4"></p>
        </div>
    </div>

{% endblock %}

{% block js_file %} 
    <script src="../../static/js/questions.js"></script>
    <script src="../../static/js/multiple-choice.js"></script>
{% endblock %}
 