{% extends "layout/game_base.html" %}

{% block css_file %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/true-or-false.css') }}">
{% endblock %}

{% block game_title %} {{ game_mode }} {% endblock %} 

{% block game_header %} {{ game_mode }} {% endblock %} 

{% block game_content %}

    <div id="question">
        <h2 id="questionText"></h2>
    </div>
    <div id="optionList">
        <h3 id="questionText1"></h3>
        <div class="answerItem">
            <h4 class="choice_que" id="option1"></h4>
        </div>
        <div class="answerItem">
            <h4 class="choice_que" id="option2"></h4>
        </div>
    </div>

{% endblock %}

{% block js_file %} 
    <script src="../../static/js/questions.js"></script>
    <script src="../../static/js/true-or-false.js"></script>
{% endblock %}