{% extends "layout/game_base.html" %}

{% block css_file %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/true-or-false.css') }}">
{% endblock %}

{% block game_title %} {{ game_mode }} {% endblock %} 

{% block game_header %} {{ game_mode }} {% endblock %} 

{% block game_content %}
    <span class="dot"></span>

    <div id="container">
        <div id="quiz_header">
            <h5>True or False</h5>
        </div>
        <div id="quiz">
            <div class="progressBarContainer">
                <div class="progressBar">
                    <div id="progress" style="width: 10%;"></div>
                </div>   
            </div>
            <h2 id="questionNo"></h2>         
            <div id="question">
                <h2 id="questionText"></h2>
            </div>
            <div id="optionList">
                <h2 id="questionText1"></h2>
                <div class="answerItem">
                    <h4 class="choice_que" id="option1"></h4>
                </div>
                <div class="answerItem">
                    <h4 class="choice_que" id="option2"></h4>
                </div>
            </div>
            <button id="Submit">Submit</button>
            <button id="Cancel">Cancel</button>
        </div>
    </div>

{% endblock %}

{% block js_file %} 
    <script src="../../static/js/questions.js"></script>
    <script src="../../static/js/true-or-false.js"></script>
{% endblock %}