{% extends "layout/game-base.html" %}

{% block css_file %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/true-or-false.css') }}">
{% endblock %}

{% block game_title %} View Progress {{ game_mode }} {% endblock %}

{% block game_header %} {{ game_mode }} {% endblock %}

{% block game_content %}
    <div id="question-container">
        <h1 id="question-title">True or False</h1>
    
        {% if generated_questions %}
            {% for question_data in generated_questions %}
                {% if question_data.type == 'TOF' %}
                    <div class="question-card">
                        <p class="question-text">{{ question_data.text.split('a)')[0] }}</p>
                        <p>YAnswer:</p>
                        <label>
                            <input type="radio" name="question_{{ loop.index }}" value="True" class="user-answer"> True
                        </label>
                        <label>
                            <input type="radio" name="question_{{ loop.index }}" value="False" class="user-answer"> False
                        </label>
                        <span class="correct-answer" style="display: none;">The correct answer is {{ question_data.answer }}</span>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p id="no-questions-message">No questions generated.</p>
        {% endif %}

{% endblock %}

{% block js_file %}
<script src="{{ url_for('static', filename='js/true-false.js') }}"></script>
{% endblock %}
