{% extends "layout/game-base.html" %}

{% block css_file %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/true-or-false.css') }}">
{% endblock %}

{% block game_title %} True or False {% endblock %}

{% block game_header %} True or False {% endblock %}

{% block game_content %}
    <div id="question-container">
        {% if generated_questions %}
            {% for question_data in generated_questions %}
                <div class="question-card">
                     <p class="question-text">{{ question_data.question }}</p>
                     <div class="answer-options">
                            <label for="true_{{ loop.index }}">
                                <input type="radio" id="true_{{ loop.index }}" name="question_{{ loop.index }}" value="True" class="user-answer"> True
                            </label>
                            <label for="false_{{ loop.index }}">
                                <input type="radio" id="false_{{ loop.index }}" name="question_{{ loop.index }}" value="False" class="user-answer"> False
                            </label>
                        </div>
                        <span class="correct-answer" style="display: none;">The correct answer is: {{ question_data.answer }}, {{ question_data.explanation }}</span>
                    </div>
            {% endfor %}
        {% else %}
            <p id="no-questions-message">No questions generated.</p>
        {% endif %}
    </div>
    <!-- buttons are in game-base.html since it will be used by all quiz types -->
{% endblock %}

{% block js_file %}
<script src="{{ url_for('static', filename='js/true-or-false.js') }}"></script>
{% endblock %}
