body {
    background-image: radial-gradient(circle, white 7%, var(--secondary-color), var(--secondary-color));  
}

.answerItem {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

#optionList p {
    margin: 0; 
    padding: 0;
    line-height: 50px;
    border-radius: 7px;
    font-size: 18px;
    background-color: white;
    overflow: hidden;
    border: 2px solid var(--black-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3px;
}

#optionList p.choice_que {
    flex: 1; 
    margin-left: 20px;
    padding-left: 20px;
}

#optionList p#answerNo1,
#optionList p#answerNo2,
#optionList p#answerNo3,
#optionList p#answerNo4 {
    width: 3%;
    text-align: center;
    background-color: white;
    margin-left: 20px;
    padding-left: 20px;
}

#questionText1 {
    text-align: start;
}

.feedback-message {
    font-size: 18px;
    text-align: left;
    margin-left: 50px; 
}

.correct-message {
    color: var(--green-color);
}

.incorrect-message {
    color: var(--red-color);
}

#optionList p.correct {
    border: 3px solid var(--green-color) !important;
}

#optionList p.incorrect {
    border: 3px solid var(--red-color) !important;
}

#optionList p.choice_que.correct {
    border: 3px solid var(--green-color);
}

#optionList .answerItem p.choice_que:hover,
#optionList .answerItem p#answerNo1:hover,
#optionList .answerItem p#answerNo2:hover,
#optionList .answerItem p#answerNo3:hover,
#optionList .answerItem p#answerNo4:hover
#optionList .answerItem:hover p.choice_que,
#optionList .answerItem:hover p#answerNo1,
#optionList .answerItem:hover p#answerNo2,
#optionList .answerItem:hover p#answerNo3,
#optionList .answerItem:hover p#answerNo4{
    background-image: linear-gradient(to right, rgba(91, 105, 156, 0.2), rgba(239, 242, 254, 0.6));
}

#optionList .answerItem p.choice_que.active,
#optionList .answerItem p#answerNo1.active,
#optionList .answerItem p#answerNo2.active,
#optionList .answerItem p#answerNo3.active,
#optionList .answerItem p#answerNo4.active,
#optionList .answerItem.active p.choice_que,
#optionList .answerItem.active p#answerNo1,
#optionList .answerItem.active p#answerNo2,
#optionList .answerItem.active p#answerNo3,
#optionList .answerItem.active p#answerNo4 {
    background-image: linear-gradient(to right, rgba(91, 105, 156, 0.2), rgba(239, 242, 254, 0.6));
    border: 3px solid var(--accent-color);
}




#NextButton {
    background-color: var(--green-color);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 400px;
    position: absolute;
    left: calc(50% + 100px); 
}

#NextButton:hover {
    background: white;
    color: #4caf50;
    border: 2px solid black;
    margin-top: -100%;
}

#NextButton.disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}
