@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDD7ED;
    overflow: hidden; 
}

.dot {
    height: 70%;
    width: 70%;
    background-color: #ECD7EC;
    border-radius: 50%;
    display: inline-block;
    position: absolute; 
    z-index: -1; 
    filter: blur(8px);
    opacity: 0.5;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#quiz {
    height: 480px;
    width: 70%;
    padding: 20px;
    border-radius: 30px 10px;
    text-align: center;
    position: relative;
    margin-top: -100px;
}

.progressBarContainer {
    width: 100%;
    padding: 10px 0;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressBar {
    width: 90%;
    height: 5px;
    background-color: #e7e7e7;
    border-radius: 10px;
    overflow: hidden;
}

.progressBar #progress {
    height: 100%;
    background-color: black;
    border-radius: 10px;
}

#progress {
    height: 100%;
    background-color: #4caf50;
    color: white;
    text-align: center;
    line-height: 30px; 
    width: 0; 
}

#questionNo {
    font-size: 16px;
    color: black;   
    margin-top: -1px;
    transform: translateX(50%) translateY(0); 
}

#quiz_header {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 30px 0;
    margin-top: 20px;
}

#quiz_header h5 {
    font-size: 28px;
    margin: 0 20px;
    color: black;
}

#quiz #question {
    width: 97%;
    position: absolute;
    top: 90px;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #5B699C;
    border-radius: 10px;
    padding: 20px;
}

#quiz #question h2 {
    font-size: 27px;
}

#quiz #question h2:first-child {
    margin: 0 10px 0 5px;
}

#quiz #optionList {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 160px;
}

.answerItem {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

#optionList h4 {
    margin: 0; 
    padding: 0;
    line-height: 50px;
    border-radius: 7px;
    font-size: 20px;
    background-color: #FFFFFF;
    overflow: hidden;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3px;
}

#optionList h4.choice_que {
    flex: 1; 
    margin-left: 20px;
    padding-left: 20px;
}

#optionList h4#answerNo1,
#optionList h4#answerNo2,
#optionList h4#answerNo3,
#optionList h4#answerNo4 {
    width: 3%;
    text-align: center;
    background-color: #FFFFFF;
    margin-left: 20px;
    padding-left: 20px;
}

.feedback-message {
    font-size: 18px;
    text-align: left;
    margin-left: 50px; 
}

.correct-message {
    color: green;
}

.incorrect-message {
    color: red;
}

#optionList h4.correct {
    border: 3px solid #4caf50; 
    color: black;
}

#optionList h4.incorrect {
    border: 3px solid #f44336; 
    color: black;
}

#optionList h4.choice_que.correct {
    border: 3px solid #4caf50;
    color: black;
}

#optionList .answerItem h4.choice_que:hover,
#optionList .answerItem h4#answerNo1:hover,
#optionList .answerItem h4#answerNo2:hover,
#optionList .answerItem h4#answerNo3:hover,
#optionList .answerItem h4#answerNo4:hover
#optionList .answerItem:hover h4.choice_que,
#optionList .answerItem:hover h4#answerNo1,
#optionList .answerItem:hover h4#answerNo2,
#optionList .answerItem:hover h4#answerNo3,
#optionList .answerItem:hover h4#answerNo4{
    background-image: linear-gradient(to right, rgba(91, 105, 156, 0.2), rgba(239, 242, 254, 0.6));
}

#optionList .answerItem h4.choice_que.active,
#optionList .answerItem h4#answerNo1.active,
#optionList .answerItem h4#answerNo2.active,
#optionList .answerItem h4#answerNo3.active,
#optionList .answerItem h4#answerNo4.active,
#optionList .answerItem.active h4.choice_que,
#optionList .answerItem.active h4#answerNo1,
#optionList .answerItem.active h4#answerNo2,
#optionList .answerItem.active h4#answerNo3,
#optionList .answerItem.active h4#answerNo4 {
    background-image: linear-gradient(to right, rgba(91, 105, 156, 0.2), rgba(239, 242, 254, 0.6));
}

#Submit, #NextButton, #Cancel {
    margin-top: 50%;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-weight: bold;
}

#Submit {
    background-color: #5B699C;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 400px;
    position: absolute;
    left: 30%;
    transform: translateX(-50%) translateY(0); 
}

#NextButton {
    background-color: #4caf50;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 400px;
    position: absolute;
    left: calc(50% + 100px); 
    transform: translateX(-50%) translateY(0); 
}

#Cancel {
    background-color: white;
    color: #5B699C;
    border: 2px solid #5B699C;
    border-radius: 10px;
    width: 400px;
    position: absolute;
    left: calc(50% + 350px); 
    transform: translateX(-50%) translateY(0);
}

#Submit:hover {
    background: white;
    color: #5B699C;
    border: 2px solid black;
}

#NextButton:hover {
    background: white;
    color: #4caf50;
    border: 2px solid black;
    margin-top: -100%;
}

#Cancel:hover {
    background: #5B699C;
    color: white;
}

#NextButton.disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}
