:root{
    --primary-color:#5B699C;
    --secondary-color: #ECD7EC;
    --tertiary-color: #D1E5F9;
    --accent-color: #1E4050;

    --background-color: #EFF2FE;
    --black-color: #0D1717;
    --gray-color: #D9D9D9;
    --green-color: #4CAF50;;
    --green-light: #ADFFE4;
    --red-color: #E72636;
    --red-light: #FFADC8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--black-color);
    overflow-x: hidden;
}

.title-section {
    margin: 2% 5%;
}

.title-section h1 {
    padding-top: 0.3em;
}

.title-section a {
    text-decoration: none;
    color: var(--black-color);
}

.page-title {
    width: 100%;
    text-align: left;
    padding: 1em 2em 0 2em;
}

.btn {
    padding: 1em;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 600;
    border-radius: 1em;
    border: 2px solid var(--primary-color);
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.5);
    transition: ease 0.8s;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: var(--primary-color);
}

.btn-primary:hover {
    color: var(--accent-color);
    background-color: var(--background-color);
    border: 2px solid var(--accent-color);
}

.btn-secondary {
    color: var(--primary-color);
    background-color: white;
}

.btn-secondary:hover {
    color: var(--black-color);
    border: 2px solid var(--black-color);
    background-color: white !important;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}




/* QUIZ SECTION GLOBAL STYLES */
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#quiz_header {
    width: 100vw;
}

#quiz_header h2 {
    font-size: 28px;
    color: var(--black-color);
    padding: 1em 0 0 1em;
}

#questionNo {
    font-size: 16px;
    color: var(--black-color);
    text-align: end;
    margin: 1em;
}

.quiz_main {
    display: flex;
    flex-direction: column;
}

#quiz {
    height: 480px;
    width: 70%;
    border-radius: 30px 10px;
    text-align: center;
    position: relative;
}

#quiz #question {
    width: 95%;
    display: flex;
    color: white;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
}

#quiz #question h2 {
    font-size: 24px;
}

#quiz #optionList {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.quiz_buttons button {
    width: 300px;
    margin: 2em 3em;
}



/* PAGE SELECTION PAGE */

.preview-container {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.preview-main {
    display: flex;
    justify-content: center;
    gap: 3%;
    padding: 0.5% 7%;
}

.thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 55vw;
    height: 70vh;
    gap: 2em;
    padding: 0 1em;
    overflow-y: scroll;
    overflow-x: hidden;
}

.thumbnail-container::-webkit-scrollbar {
    display: none;
}

.thumbnail-item img {
    border-radius: 8px;
    border: 3px solid transparent;
    transition: border 0.2s ease;
}

.thumbnail-item img:hover {
    border: 3px solid var(--primary-color);
}

.thumbnail-item p {
    text-align: center;
}

.thumbnail-item.selected img {
    border: 3px solid var(--accent-color);
}

#end-of-thumbnails {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; 
    width: 100%;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 1em;
    width: 25vw;
    background-color: var(--background-color);
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
    padding: 1.2em 2em;
    margin: 0.8em;
    height: 55vh;
    overflow-y: scroll;
}

.options::-webkit-scrollbar {
    display: none;
}

.options-header {
    text-align: center;
    border-bottom: 1px solid var(--black-color);
}

.options-header h2 {
    padding-bottom: 0.5em;
}

.options-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options-question button,
.type-inputs button {
    padding: 0.2em 0.7em;
    border-radius: 0.8em;
}

.options-page {
    display: grid;
    grid-template-columns: auto 45%;
    column-gap: 1em;
}

.options-type {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.options-type div {
    display: grid;
    grid-template-columns: 60% 20% auto;
    column-gap: 1em;
}

.edit-question input,
.options select,
.options input {
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    border: 1px solid var(--gray-color);
    padding: 0.7em;
}

.options .filename {
    width: -webkit-fill-available;
}

.options label {
    font-weight: bold;
}

.options-button button {
    width: 90%;
    display: block;
    margin: 0 auto;
}


/* DOWNLOAD READY PAGE */

.download-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-main {
    width: 65vw;
    height: 70vh;
    background-image: radial-gradient(circle, var(--secondary-color) 10%, white, white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 1em;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
}

.download-text p {
    display: block;
    padding: 0.8em;
    margin: 0 auto;
    width: 60%;
}

.download-buttons a {
    display: block;
    padding: 1.5em;
    margin: 2em auto 0 auto;
    width: 45%;
}


/* REVIEW QUESTIONS PAGE */

.rev-ques-container {
    width: 100%;
    height: 100%;
    /* background-image: url('../images/score_bg.svg');
    background-size: cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rev-ques-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.rev-ques-buttons a {
    width: 40vw;
    margin: 4em 2em;
    text-align: center;
}

.edit-question {
    width: 65%;
    text-align: left;
    padding: 1.5em;
    margin: 1em;
    border-radius: 1em;
    background-color: var(--background-color);
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
}

.edit-ques-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-ques-header button {
    font-size: 1.2em;
    padding: 0.5em 0.7em;
    border: 1px solid var(--red-color);
    border-radius: 0.5em;
    background: var(--red-light);
    transition: ease 0.8s;
}

.ans-sec-header button:hover,
.edit-ques-header button:hover {
    filter: contrast(0.8);
    cursor: pointer;
}

.ans-sec-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em 0.8em 1em;
}

.ans-sec-header button {
    font-size: 1.6em;
    border: none;
    background-color: transparent;
    transition: ease 0.8s;
}

.question-section {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

.answers-section .choice-letter {
    color: white;
    background-color: var(--primary-color);
    transition: ease 0.5s;
}

.answers-section .choice-letter:hover {
    color: white;
    background-color: var(--accent-color);
}

.answers-section .choice-letter.answer {
    background-color: var(--accent-color);
}

.answers-section input {
    width: 70%;
}

#modify-answers {
    display: none;
}




/* COMPLETE QUIZ PAGE AND RESULTS MODAL */

.score-container {
    width: 100vw;
    height: 100vh;
    background-image: url('../images/score_bg.svg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5em;
}

.score-text {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-bottom: 2em;

}

.score-text h1 {
    font-size: 2.5em;
    font-weight: bold !important;
}

.score-text p {
    font-weight: bold;
}

.score-buttons a,
.score-buttons button {
    padding: 1.2em 2.5em;
    margin: 1.5em 2em;
}

.modal-content {
    padding: 1em 1.5em;
}

.modal-title {
    text-align: left;
}

.modal-title h3 {
    font-weight: bold;
    margin: 0;
}

.results {
    text-align: left;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.5);
}

.results h4,
.results h6 {
    font-weight: bold;
}

.correct-ans {
    background-color: var(--green-light);
}

.correct-ans h4 {
    color: var(--green-color);
}

.wrong-ans {
    background-color: var(--red-light);
}

.wrong-ans h4 {
    color: var(--red-color);
}

.answers-section,
.choices {
    display: flex;
    flex-direction: column;
    gap: 1.8em;
    margin: 0 1.4em;
}

.choice-letter {
    padding: 0.6em 0.8em;
    width: 5%;
    border-radius: 5px;
    background-color: var(--background-color);
}

.correct-choice {
    background-color: var(--green-color);
    color: white;
}

.wrong-choice {
    background-color: var(--red-color);
    color: white;
}









/* PROGRESS BAR */
.progressBarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progressBar {
    width: 90%;
    height: 5px;
    background-color: #e7e7e7;
    border-radius: 10px;
    overflow: hidden;
}

.progressBar #progress {
    height: 100%;
    background-color: var(--black-color);
    border-radius: 10px;
}

#progress {
    height: 100%;
    background-color: #4caf50;
    color: white;
    text-align: center;
    line-height: 30px; 
    width: 0; 
}


/* PAGE LOADER */
.loader-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader {
    width: 80px;
    height: 80px;
    display: flex;
    transform-origin: 0% 150%;
    animation: sp10-0 2s infinite linear;
}

.loader:before,
.loader:after {
    content:"";
    flex:1;
    background: var(--accent-color);
    animation: sp10-1 1s infinite linear alternate;
    border-radius: 200px 0 0 200px;
    transform-origin: 100% 100%;
}

.loader:after {
    border-radius: 0 200px 200px 0;
    transform-origin: 0% 100%;
    --s:-1;
}

@keyframes sp10-0 {
    0%,10%   {transform:translateY(0)     scaleY(1)}
    49.99%   {transform:translateY(-100%) scaleY(1)}
    50%      {transform:translateY(-100%) scaleY(-1)}
    90%,100% {transform:translateY(-200%) scaleY(-1)}
}
@keyframes sp10-1 {
    0%,20%  {transform:rotate(0deg)                    translate(0,0)     rotate(0deg)}
    50%     {transform:rotate(calc(var(--s,1)*-90deg)) translate(0,0)     rotate(0deg)}
    100%    {transform:rotate(calc(var(--s,1)*-90deg)) translate(0,-40px) rotate(calc(var(--s,1)*-90deg))}
}


/* PREVIEW LOADER */
.preview-loader {
    width:100px;
    height:24px;
    background: 
        radial-gradient(circle closest-side,#5B699C 90%,#0000) 0%   50%,
        radial-gradient(circle closest-side,#5B699C 90%,#0000) 50%  50%,
        radial-gradient(circle closest-side,#5B699C 90%,#0000) 100% 50%;
    background-size:calc(100%/3) 100%;
    background-repeat: no-repeat;
    animation:d7 1s infinite linear;
}
@keyframes d7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}
