body {
    background-image: radial-gradient(circle, white 10%, var(--tertiary-color), var(--tertiary-color));
}

.answerItem {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

#optionList h4 {
    margin: 0; 
    padding: 0;
    line-height: 50px;
    border-radius: 7px;
    font-size: 18px;
    background-color: #FFFFFF;
    overflow: hidden;
    border: 2px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3px;
}

#optionList h4.choice_que {
    flex: 1; 
    margin-left: 20px;
    padding-left: 20px;
}

.feedback-message {
    font-size: 18px;
    text-align: left;
    margin-left: 50px; 
}

.correct-message {
    color: var(--green-color);
}

.incorrect-message {
    color: var(--red-color);
}

#optionList h4.correct {
    border: 3px solid var(--green-color);
}

#optionList h4.incorrect {
    border: 3px solid var(--red-color) !important;
}

#optionList h4.choice_que.correct {
    border: 3px solid var(--green-color);
}

#optionList .answerItem h4.choice_que:hover,
#optionList .answerItem:hover h4.choice_que{
    background-image: linear-gradient(to right, rgba(91, 105, 156, 0.2), rgba(239, 242, 254, 0.6));
}

#optionList .answerItem h4.choice_que.active,
#optionList .answerItem.active h4.choice_que{
    background-image: linear-gradient(to right, rgba(91, 105, 156, 0.2), rgba(239, 242, 254, 0.6));
    border: 3px solid var(--accent-color);
}

#NextButton {
    background-color: #4caf50;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 400px;
    position: absolute;
    left: calc(50% + 100px);
    transform: translateX(-50%) translateY(0);
}

#NextButton:hover {
    background: white;
    color: #4caf50;
    border: 2px solid black;
    margin-top: -100%;
}

#NextButton.disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}
