body {
    background-image: radial-gradient(circle, white 7%, var(--green-light), var(--green-light));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#question-container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: none;
}

#question-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}

.question-set {
    margin-bottom: 20px;
}

.question-set h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    background-color: none;
}

.question-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: none;
}

.question-text {
    width: 100%;
    margin-left: 10px;
    height: 50px;
    background-color: #5B699C;
    color: white;
    font-size: 1.2em;
    padding: 10px;
    text-align: left;
    border-radius: 7px;
    margin-top: 10px;
    border: 2px solid var(--black-color);
}

.user-answer {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid var(--black-color);
    border-radius: 5px;
    background-image: linear-gradient(to right, rgba(91, 105, 156, 0.2), rgba(239, 242, 254, 0.6));
    margin-top: 10px;
}

p {
    font-size: 1.5rem;
}

.user-answer.correct {
    border-color: var(--green-color);
}

.user-answer.incorrect {
    border-color: var(--red-color);
}

#no-questions-message {
    font-size: 1.2em;
    text-align: center;
    color: #666;
}

.correct-answer {
    font-size: 0.9em;
    color: var(--green-color);
    margin-top: 5px;
}

#feedback {
    font-size: 1.2em;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    text-align: left;
}

.correct-message {
    color: var(--green-color);
}

.incorrect-message {
    color: var(--red-color);
}