<div class="modal fade" id="accTypeModal" tabindex="-1" role="dialog" aria-labelledby="accTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <h3 id="accTypeModalLabel">Select Account Type</h3>
                    <p>Student take quiz, teacher can edit and download pdf, add images, icon, or what sa baba</p>
                </div>
            </div>
            <div class="modal-body select-account">
                <div class="acc-type">
                    <a class="signup-link" href="{{ url_for('auth.signup', account_type='student') }}"> 
                        <div>
                            TEACHER PNG/SVG
                        </div>
                    </a>
                    
                    <div>
                        I am a <b>Student</b>
                    </div>
                </div>
                <div class="acc-type">
                    <a class="signup-link" href="{{ url_for('auth.signup', account_type='teacher') }}"> 
                        <div>
                            TEACHER PNG/SVG
                        </div>
                    </a>
                    <div>
                        I am a <b>Teacher</b>
                    </div>
                </div>

                

            </div>
            <div class="modal-footer">
                <a class="signin-link" href="{{ url_for('auth.login') }}">Have an account already? Sign In</a>
            </div>
        </div>
    </div>
</div>