    <div class="modal fade" id="reviewAnsModal" tabindex="-1" role="dialog" aria-labelledby="reviewAnsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <h3 id="reviewAnsModalLabel">Answers</h3>
                        <p>Score: 10/100</p>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="results correct-ans">
                        <h4>
                            <i class="fa-solid fa-circle-check"></i>
                            <span>Correct</span>
                        </h4>
                        <h6>1. Which of the following is a primary cause of climate change?</h6>
                        <div class="choices">
                            <div>
                                <span class="choice-letter">a</span>
                                <span class="choice-text">Natural variations in the Earth's orbit</span>
                            </div>
                            <div>
                                <span class="choice-letter">b</span>
                                <span class="choice-text">Human activities such as burning fossil fuels and deforestation</span>
                            </div>
                            <div>
                                <span class="choice-letter correct-choice">c</span>
                                <span class="choice-text">Volcanic eruptions</span>
                            </div>
                            <div>
                                <span class="choice-letter">d</span>
                                <span class="choice-text">Changes in solar radiation</span>
                            </div>
                        </div>
                    </div>
                    <div class="results wrong-ans">
                        <h4>
                            <i class="fa-solid fa-circle-xmark"></i>
                            <span>Incorrect</span>
                        </h4>
                        <h6>2. Wrong answer of the following is a primary cause of climate change?</h6>
                        <div class="choices">
                            <div>
                                <span class="choice-letter correct-choice">a</span>
                                <span class="choice-text">Natural variations in the Earth's orbit</span>
                            </div>
                            <div>
                                <span class="choice-letter ">b</span>
                                <span class="choice-text">Human activities such as burning fossil fuels and deforestation</span>
                            </div>
                            <div>
                                <span class="choice-letter">c</span>
                                <span class="choice-text">Volcanic eruptions</span>
                            </div>
                            <div>
                                <span class="choice-letter wrong-choice">d</span>
                                <span class="choice-text">Changes in solar radiation</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>