{% extends "layout/base.html" %}

{% block title %} {% block game_title %} {% endblock %} Game {% endblock %} 

{% block content %}
<div id="container">
    <div id="quiz_header">
        <h2>{% block game_header %} {% endblock %}</h2>
    </div>
    <div id="quiz">
        <div class="progressBarContainer">
            <div class="progressBar">
                <div id="progress" style="width: 10%;"></div>
            </div>  
            <span><h2 id="questionNo"></h2></span>
        </div>

        <div class="quiz_main">
            <!-- Quiz questions and choices goes here -->
            {% block game_content %}
            {% endblock %}

            <div class="quiz_buttons">
                <button id="Cancel" class="btn btn-secondary" type="button">Cancel</button>
                <button id="Submit" class="btn btn-primary" type="button">Submit</button>
            </div>
        </div>
    </div>
    
    <div id="result"></div>
    <div id="points"></div>
</div>
{% endblock %}
