{% extends "layout/base.html" %}

{% block title %} 
    {% block game_title %} Quiz {% endblock %} 
{% endblock %}

{% block content %}
<div id="container">
    <!-- Quiz Header -->
    <div id="quiz-header">
        <h2>{% block game_header %} {% endblock %}</h2>
    </div>    

    <!-- Progress Bar -->
    <div class="progressBarContainer">
        <div class="progressBar">
            <div id="progress" style="width: 10%;"></div>
        </div>
        <span><h2 id="questionNo"></h2></span>
    </div>

    <!-- Main Quiz Content -->
    <div id="quiz">
        <div class="quiz-main">
            {% block game_content %}
                <!-- Dynamic Quiz Questions and Choices Will Load Here -->
                <p>No quiz content loaded.</p>
            {% endblock %}
        </div>

        <div id="button-container">
            <button type="button" id="next-button" style="display: none;" class="btn btn-primary">Next Question</button>
            <button type="button" id="cancel-button" class="btn btn-secondary">Cancel</button>
            <button type="button" id="submit-button" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>
{% endblock %}

{% block js_file %}
<script src="{{ url_for('static', filename='js/multiple-choice.js') }}"></script>
{% endblock %}
