{% extends "layout/base.html" %}

{% block title %} Page Selection {% endblock %} 

{% block content %}
    <h1 class="preview-container-title">Page Selection</h1>
    <div class="preview-container">
        <div class="file-container" id="thumbnail-container">
            <div class="file-header">
                <h2>File Name Here</h2>
            </div>

            <div class="pages-container">
                {% if thumbnails %}
                    {% for thumbnail in thumbnails %}
                        <div class="thumbnail-item">
                            <p>Page {{ loop.index }}</p>
                            <img src="../{{ thumbnail }}">
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No thumbnails available.</p>
                {% endif %}
            </div>
        </div>

        <div class="options-container">
            <h2>Options</h2>
            <form action="" class="options">
                <div>
                    <label for="page-selection">Page Selection</label>
                    <select name="" id="page-selection">
                        <option value="all">All Pages</option>
                        <option value="current">Current Page</option>
                        <option value="select">Select Pages</option>
                    </select>
                    <input type="text" placeholder="Example: “1-2, 5”">
                </div>
                <div>
                    <label for="ques-type">Question Type</label>
                    <select name="" id="ques-type">
                        <option value="identi">Identification</option>
                        <option value="multi">Multiple Choice</option>
                        <option value="tf">True or False</option>
                    </select>
                </div>
                <div>
                    <label for="ques-num">No. of Questions</label>
                    <input type="number" id="ques-num" placeholder="1">
                </div>
            </form>
        </div>
    </div>

{% endblock %}