{% extends "layout/base.html" %}

{% block title %} Exam Complete {% endblock %} 

{% block content %}
<div class="score-container">
    <div class="score-text" >
        <h1> Exam Complete </h1>
        <p> You answered </p>
        <h1> {{ score }} / {{ total }} </h1>
        <p> questions correct </p>
    </div>
    
    <div class="score-buttons">
        <a class="btn btn-primary">Review Answers</a>
        <a class="btn btn-secondary" href=" {{ url_for('views.index') }}">Back to Home</a>
    </div>
</div>
{% endblock %}