{% extends "layout/base.html" %}

{% block css_file %}   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block title %} Review Questions {% endblock %} 

{% block content %}
<h1 class="page-title">Review Questions</h1>
<div class="rev-ques-container">

    {% if generated_questions %}
        {% for set in generated_questions %}

            {% if set.type == 'IDN' %}
                <h2>Identification</h2>
                {% for item in set.questions %}   
                    <div class="edit-question">
                        <div class="edit-ques-header">
                            <h3>Question {{ loop.index }}</h3>
                            <button type="button"><i class="fa-solid fa-trash-can" style="color: white;"></i></button>
                        </div>
                        <div class="question-section">
                            <label for="question">Question</label>
                            <input type="text" name="question" id="question" value="{{ item.question }}">
                        </div>
                        <div>
                            <div class="ans-sec-header">
                                <span>Correct Answer</span>
                                <button type="button"><i class="fa-solid fa-pen-to-square" style="color: #5B699C;"></i></button>
                            </div>
                            <div class="answers-section">
                                <div>
                                    <span>{{ item.answer }}</span>
                                </div>
                            </div>    
                        </div>
                    </div>
                {% endfor %}

            {% elif set.type == 'MCQ' %}
                <h2>Multiple Choice</h2>
                {% for item in set.questions %}       
                    <div class="edit-question">
                        <div class="edit-ques-header">
                            <h3>Question {{ loop.index }}</h3>
                            <button type="button"><i class="fa-solid fa-trash-can" style="color: #FFFFFF;"></i></button>
                        </div>
                        <div class="question-section">
                            <label for="question">Question</label>
                            <input type="text" name="question" id="question" value="{{ item.question }}">
                        </div>
                        <div>
                            <div class="ans-sec-header">
                                <span>Correct Answer</span>
                                <button type="button" id="edit-ans-btn"><i class="fa-solid fa-pen-to-square" style="color: #5B699C;"></i></button>
                            </div>

                            <div class="answers-section">
                                {% for choice in item.choices %} 
                                    <div>
                                        <span class="choice-letter">{{ loop.index }}</span>
                                        <span>{{ choice }}</span>
                                    </div>
                                {% endfor %}
                            </div> 

                            <div class="answers-section" id="modify-answers">
                                {% for choice in item.choices %} 
                                    <div>
                                        <span class="choice-letter">{{ loop.index }}</span>
                                        <input type="text" name="" value="{{ choice }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            {% elif set.type == 'TOF' %}
                <h2>True or False</h2>
                {% for item in set.questions %}   
                    <div class="edit-question">
                        <div class="edit-ques-header">
                            <h3>Question {{ loop.index }}</h3>
                            <button type="button"><i class="fa-solid fa-trash-can" style="color: white;"></i></button>
                        </div>
                        <div class="question-section">
                            <label for="question">Question</label>
                            <input type="text" name="question" id="question" value="{{ item.question }}">
                        </div>
                        <div>
                            <div class="ans-sec-header">
                                <span>Correct Answer</span>
                                <button type="button"><i class="fa-solid fa-pen-to-square" style="color: #5B699C;"></i></button>
                            </div>
                            <div class="answers-section">
                                {% for choice in item.choices %} 
                                    <div>
                                        <span class="choice-letter">{{ loop.index }}</span>
                                        <span>{{ choice }}</span>
                                    </div>
                                {% endfor %}
                            </div>    
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}


    <div class="rev-ques-buttons">
        <a class="btn btn-secondary" href="{{ url_for('views.download', ques_type=ques_type) }}">Back</a>
        <a class="btn btn-primary" href="{{ url_for('views.done') }}">Download Exam</a>
    </div>
</div>
{% endblock %}