    <div class="modal fade" id="reviewAnsModal" tabindex="-1" role="dialog" aria-labelledby="reviewAnsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <h3 id="reviewAnsModalLabel">Answers</h3>
                        <p>Score: 10/100</p>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="results correct-ans">
                        <h4>Correct</h4>
                        <h6>1. Which of the following is a primary cause of climate change?</h6>
                        <div class="answerItem">
                            <p id="answerNo1">a</p>
                            <p class="choice_que"></p>
                        </div>
                        <div class="answerItem">
                            <p id="answerNo2">b</p>
                            <p class="choice_que" id="option2"></p>
                        </div>
                        <div class="answerItem">
                            <p id="answerNo3">c</p>
                            <p class="choice_que" id="option3"></p>
                        </div>
                        <div class="answerItem">
                            <p id="answerNo4">d</p>
                            <p class="choice_que" id="option4"></p>
                        </div>
                    </div>
                    <div class="results wrong-ans">
                        <h4>Incorrect</h4>
                        <h6>2. Wrong answer of the following is a primary cause of climate change?</h6>
                        <div class="answerItem">
                            <p id="answerNo1">a</p>
                            <p class="choice_que"></p>
                        </div>
                        <div class="answerItem">
                            <p id="answerNo2">b</p>
                            <p class="choice_que" id="option2"></p>
                        </div>
                        <div class="answerItem">
                            <p id="answerNo3">c</p>
                            <p class="choice_que" id="option3"></p>
                        </div>
                        <div class="answerItem">
                            <p id="answerNo4">d</p>
                            <p class="choice_que" id="option4"></p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>